<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado Liebre - Home</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/e913f300ec.js" crossorigin="anonymous"></script>
  <link href="/css/styles.css" rel="stylesheet">


</head>

<body>
  <header class="main-header">
    
    <div class="contenedor1">
      <div class="contenedorImg"><a href="home"><img id="logo" width='200' height='85' src="/img/logo-mercado-liebre.svg"></img></a></div>

      <div class="contenedor2">

       <!-- <form action="home.html" method="POST"> </form>-->
          <input type="text" id="input" placeholder="¿Que estas Buscando?">
        
          <button type="submit" id="buscar"><i class="fa fa-search"></i></button>
        

      </div>
    
      <div id="cuotas"><i class="fas fa-hand-holding-usd"></i>
        Comprá en cuotas y sin tarjeta de crédito</div>
    </div>


    <br>

    <nav class="hipervinculos">
      <ul class="hipervinculos1">
       <li><a id="ofertas" href="#ofertas">Ofertas</a></li>
       <li><a id="tiendasOficiales" href="#tiendas oficiales">Tiendas Oficiles</a></li>
       <li><a id="vender" href="#vender">Vender</a></li>
       <li><a id="ayuda" href="#Ayuda">Ayuda</a></li>
      </ul>
      <ul class="hipervinculos2">
       
       <li><a id="creaTuCuenta" href="register">Creá tu cuenta <i class="far fa-id-card iconos3"></i></a></li>
       <li><a id="ingresa" href="login">Ingresá <i class="fas fa-sign-in-alt iconos3"></i></a></div>
       <li><a id="misCompras" href="#Mis compras">Mis compras <i class="fas fa-shopping-basket iconos3"></i></a></li>
      </ul>
    </nav>
    <br>


      <!--<i class="fa-solid fa-bars hamburguesa"></i>-->
      <!-- (A) MENU WRAPPER -->
      <div class="contenedor-burga">
<nav id="hamnav">
  <!-- (B) THE HAMBURGER -->
  <label for="hamburger">&#9776;</label>
  <input type="checkbox" id="hamburger"/>
 
  <!-- (C) MENU ITEMS -->
  <div id="hamitems">
    <a href="#ofertas">Ofertas</a>
    <a href="#tiendas oficiales">Tiendas ofiiciales</a>
    <a href="#vender">Vender</a>
    <a href="#ayuda">Ayuda</a>
    <a href="register">Creá tu cuenta</a>
    <a href="login">Ingresá</a>
    <a href="#Mis compras">Mis compras</a>
  </div>
</nav>
</div>
    
<!---->
   
  </header>

  <main>
    <img id="banner" height='100' src="/img/img-home-banner.jpg">
    

    <div class="titulares">Basado en tu última vista</div>
   
<div class="articulo1234">
  <div class="c1">
    <article class="articulo articulo1">
    <img width='300' height='250' src="/img/img-macbook-pro-2019.jpg"></img>
      <div class="caja2">
        <i class="fa-solid fa-truck iconos2"></i>
        <div class="precios">$230.000</div>
        <div class=" descuentos">20% Off</div>
      </div>
    
      <div class=" descripciones">MacBook Pro 2019</div>
    </article>
  </div>

   
    <div class="c1">
    <article class="articulo articulo2">
      <img width='300' height='250' src="/img/img-cafetera-moulinex.jpg"></img>
      <div class="caja2">
        <i class="fa-solid fa-truck iconos2"></i>
        <div class="precios">$6.770</div>
        <div class=" descuentos">10% Off</div>
      </div>
     
      <div class=" descripciones">Cafetera Moulinex</div>
    </article>
  </div>
  
    
    <div class="c1">
    <article class="articulo articulo3">
      <img width='300' height='250' src="/img/img-samsung-galaxy-s10.jpg"></img>
      <div class="caja2">
        <i class="fa-solid fa-truck iconos2"></i>
        <div class="precios">$70.500</div>
        <div class="descuentos">30% Off</div>
      </div>
     
      <div class="descripciones">Samsung Galaxy s10</div>
    </article>
  </div>
 
  

    <div class="c1">
    <article class="articulo articulo4">
      <img width='300' height='250' src="/img/img-tv-samsung-smart.jpg"></img>
      <div class="caja2">
        <i class="fa-solid fa-truck iconos2"></i>
        <div class="precios">$110.500</div>
        <div class="descuentos">25% Off</div>
      </div>
    
      <div class="descripciones">Tv Samsung Smart 43"</div>
    </article>
  </div>
</div>
</div>
</div>


<div class="titulares ofertas">Ofertas</div>

<div class="articulo1234">
  <div class="c1">
    <article class="articulo articulo1">
    <img width='300' height='250' src="/img/img-macbook-pro-2019.jpg"></img>
      <div class="caja2">
        <i class="fa-solid fa-truck iconos2"></i>
        <div class="precios">$230.000</div>
        <div class=" descuentos">20% Off</div>
      </div>
    
      <div class=" descripciones">MacBook Pro 2019</div>
    </article>
  </div>

   
    <div class="c1">
    <article class="articulo articulo2">
      <img width='300' height='250' src="/img/img-cafetera-moulinex.jpg"></img>
      <div class="caja2">
        <i class="fa-solid fa-truck iconos2"></i>
        <div class="precios">$6.770</div>
        <div class=" descuentos">10% Off</div>
      </div>
     
      <div class=" descripciones">Cafetera Moulinex</div>
    </article>
  </div>
  
    
    <div class="c1">
    <article class="articulo articulo3">
      <img width='300' height='250' src="/img/img-samsung-galaxy-s10.jpg"></img>
      <div class="caja2">
        <i class="fa-solid fa-truck iconos2"></i>
        <div class="precios">$70.500</div>
        <div class="descuentos">30% Off</div>
      </div>
     
      <div class="descripciones">Samsung Galaxy s10</div>
    </article>
  </div>
 
  

    <div class="c1">
    <article class="articulo articulo4">
      <img width='300' height='250' src="/img/img-tv-samsung-smart.jpg"></img>
      <div class="caja2">
        <i class="fa-solid fa-truck iconos2"></i>
        <div class="precios">$110.500</div>
        <div class="descuentos">25% Off</div>
      </div>
    
      <div class="descripciones">Tv Samsung Smart 43"</div>
    </article>
  </div>
</div>
</div>
</div>


   
  </main>

  <footer class="texto">
    <div class="contenedor-footer">
    <br>
    <div class="contenedor2-footer">
    <i class="fas fa-credit-card iconos"></i>
    <h2>Pagá con tarjeta o efectivo</h2>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
    </p>
  </div>
    <br>
    <div class="contenedor2-footer">
    <i class="fas fa-solid fa-gift iconos"></i>
    <h2>Envío gratis desde $2.500</h2>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado
      Puntos</p>
    </div>
    <br>
    <div class="contenedor2-footer">
    <i class="fas fa-user-shield iconos"></i>
    <h2>Seguridad de principio a fin</h2>
    <p>¿No te gusta?¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
  </div>
</div>
    <br>
    <div class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L</div>
    <br>
  
  </footer>
</body>

</html>