<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/register.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/e913f300ec.js" crossorigin="anonymous"></script>
    <title>FORMULARIO REGISTRO</title>
</head>
<body>

    <header class="main-header">
    
        <div class="contenedor1">
          <div class="contenedorImg"><a href="home"><img id="logo" width='200' height='85' src="/img/logo-mercado-liebre.svg"></img></a></div>
    
          <div class="contenedor2">
            <!--<form action="" method="POST"> <
              <div><label>nombre del producto</label></div>
            -->
            <input type="text" id="input" placeholder="¿Que estas Buscando?"><button id="buscar"><i class="fa fa-search"></i></button>
          </div>
        
          <div id="cuotas"><i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito</div>
        </div>
    
    
        <br>
    
        <nav class="hipervinculos">
          <ul class="hipervinculos1">
           <li><a id="ofertas" href="#ofertas">Ofertas</a></li>
           <li><a id="tiendasOficiales" href="#tiendas oficiales">Tiendas Oficiles</a></li>
           <li><a id="vender" href="#vender">Vender</a></li>
          </ul>
          <ul class="hipervinculos2">
           <li><a id="ayuda" href="#Ayuda">Ayuda</a></li>
           <li><a id="creaTuCuenta" href="register.html">Creá tu cuenta <i class="far fa-id-card iconos3"></i></a></li>
           <li><a id="ingresa" href="login.html">Ingresá <i class="fas fa-sign-in-alt iconos3"></i></a></div>
           <li><a id="misCompras" href="#Mis compras">Mis compras <i class="fas fa-shopping-basket iconos3"></i></a></li>
          </ul>
        </nav>
        <br>
        <!--<i class="fa-solid fa-bars hamburguesa"></i>-->
         <!-- (A) MENU WRAPPER -->
      <div class="contenedor-burga">
        <nav id="hamnav">
          <!-- (B) THE HAMBURGER -->
          <label for="hamburger">&#9776;</label>
          <input type="checkbox" id="hamburger"/>
         
          <!-- (C) MENU ITEMS -->
          <div id="hamitems">
            <a href="#ofertas">Ofertas</a>
            <a href="#tiendas oficiales">Tiendas ofiiciales</a>
            <a href="#vender">Vender</a>
            <a href="#ayuda">Ayuda</a>
            <a href="register">Creá tu cuenta</a>
            <a href="login">Ingresá</a>
            <a href="#Mis compras">Mis compras</a>
          </div>
        </nav>
        </div>
        <br>
        <br>
      </header>


  <main>
   
  
    <div class="contenedor-total">
    <form action="/views/home.html" method="POST">
<p>
    <label for="nombre"></label><input class="inputs" placeholder="Nombre y Apellido" type="text" id="nombre" name="nombre" required>
</p>
<p>
    <label for="email"></label><input class=" inputs" placeholder="E-mail" type="email" name="email" required>
</p>
<p class="fecha-nacimiento">
    <label for="fecha" class="fecha-label">Fecha de Nacimiento</label><input class="fecha-nacimiento-input " type="date" name="fecha" required>
</p>
<p>
    <label for="domicilio"></label><input class="inputs" placeholder="Domicilio" type="text" id="domicilio" name="domicilio" required>
</p>
<p>
    <label class="titulo-perfil" for="perfil">Perfil del usuario</label>
    <div class="perfil-usuario">
    <label><input type="radio" name="perfil" value="vendedor">Vendedor</label>
    <label><input type="radio" name="perfil" value="comprador">Comprador</label>
</div>
</p>
<p class="intereses">
    <label class="titulo-intereses" for="interes">Intereses</label>
    <label><input type="checkbox" name="interes" value="Electro">Electro</label>
    <label><input type="checkbox" name="interes" value="Moda">Moda</label>
    <label><input type="checkbox" name="interes" value="Hogar">Hogar</label>
    <label><input type="checkbox" name="interes" value="Jugueteria">Juguetería</label>
    <label><input type="checkbox" name="interes" value="Vida sana">Vida sana</label>

</p>
<p>
    <label for="foto">Foto de usuario</label>
    <input type="file" name="fotoDePerfil" id="foto" accept=".jpg, .png">

</p>
<p>
    <label for="password"></label> <input class="inputs" placeholder="Contraseña" type="password" name="password" required>
</p>
<p>
    <label for="confirmar contraseña"></label> <input class="inputs" placeholder="Confirmar contraseña" type="password" name=" confrmar contraseña" required>
</p>
<div class="botones">
<p>
    <button class="boton-final" type="submit">ENVIAR</button>
</p>
<p>
    <button class="boton-final" type="reset">BORRAR</button>
</p>
</div>
</form>
</div>
  </main>

</body>
</html>