body {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
}

.main-header {
    background-color: #EAC926;
    padding:20px
}

main {
    text-align: center;
    background-color: gainsboro;
}

footer {
    background-color: white;
    color: gray;
    text-align: center;
    width: 100vw;
    line-height: 2vh;
}

#buscar {
    display: flex;
    position: relative;
    right: 3px;
    padding: 17px
}

#logo {
    display: flex;
}

#input{
    height: 40px;
}

.contenedor2 {
    display: flex;
    align-items: center;
}

.contenedor2 button {
    border: none;
    background-color: white;
    padding: 2vh;
    border-top: 1px solid lightslategray;
    border-right: 1px solid lightslategray;
    border-bottom: 1px solid lightslategray;
    cursor:pointer;
}

.contenedor2 button:hover{
    background-color: #105cad;
}

.contenedorImg img {
    width: 100%;
    max-width: 200px;
}

.hipervinculos ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.hipervinculos a{
    text-decoration: none;
    display: inline-block;
    color: #222222;
    display: flex;
    padding: 17px 0;
    font-size: 11px;
}

.hipervinculos1{
    margin-bottom: 10px;
    display: flex;
}

.hipervinculos2{
    display: flex;
}

#banner {
    width: 100%;
    height: 15vh;
}

#cuotas {
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
    font-weight: 400;
}

.texto {
    font-size: 12px;
    margin: 2px
}


.titulares {
    font-size: 24px;
    font-weight: bold;
    color: rgb(111, 109, 109);
    margin-top: 30px;
    margin-bottom: 30px;
}

.precios {
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-grow: 0.30;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
    text-align: center;
    display: flex;
    flex-grow: 0.70;
}

.descripciones {
    font-size: 16px;
    text-align: center;
    display: flex;
    color: darkgray;
    opacity: 0;
}

.descripciones:hover{
    opacity: 100;
}

.articulo1234{
    margin-bottom: 30px;
}

/*
.hamburguesa {
    border: solid 10px #105cad;
    background-color: #105cad;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-right-radius: 20%;
    color: white;
    display: block;
    margin: auto;
    font-size: 30px;
    text-align: center;
    max-width: 30px;
}
*/

/*hamburguesa desplegable*/

/* [ON BIG SCREEN] */
/* (A) WRAPPER */
#hamnav {
    width: 100%;
    background: #000;
  }
  
  /* (B) HORIZONTAL MENU ITEMS */
  #hamitems { display: flex; }
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover { color: blue; }
  
  /* (C) HIDE HAMBURGER */
  #hamnav label, #hamburger { display: none; }



  /* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  /* (A) BREAK INTO VERTICAL MENU */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
 
  /* (B) SHOW HAMBURGER ICON */
  #hamnav label { 
    display: inline-block; 
    color: white;
    background: #105cad;
    font-style: normal;
    font-size: 1.2em;
    padding: 15px;
    border-radius: 15%;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}

#hamnav {
    position: sticky;
    top: 0;
    width:100%;
    background-color: #EAC926;
    text-align: center;
  }


/**/


.iconos {
 font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;
}

.iconos:hover{
    color: #EAC926;
}

.iconos2 {
    color: #39b54a;
    border: solid 1px #39b54a;
    border-radius: 100%;
    padding: 5px;
    background-color: white;
    position: absolute;
    right: 5%;
    top: -12px;
}

.iconos3{
   margin-top: 3px;
   margin-left: 3px;
}

.articulo {
    padding: 15px;
    border: solid 10px #ebebeb;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    background-color: white;
}

.c1:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
   }

.caja2 {
    border-top: solid 1px #ebebeb;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.contenedor1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;
}


.contenedor-footer{
    gap: 20px;
    padding: 20px;
}








@media(max-width:520px) {
    .descripciones {
        display: none;
    }

    .hipervinculos {
        display: none;
    }

    .articulo2{
        display: none;
    }

    .articulo3{
        display: none;
    }

    .articulo4{
        display: none;
    }

    .ofertas{
        display: none;
    } 

    .hipervinculos a{
        font-size: 8px;
    }
}


@media(min-width: 521px){
    .articulo {
        border: solid 10px #ebebeb;
        padding: 15px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .caja2 {
        border-top: solid 1px #ebebeb;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    .iconos2 {
        color: #39b54a;
        border: solid 1px #39b54a;
        border-radius: 50%;
        padding: 5px;
        background-color: white;
    }

    .iconos2:hover{
        transform: rotate(-360deg);
        transition: 5s;
    }

    .precios {
        font-size: 18px;
        text-align: center;
        display: flex;
        flex-grow: 0.30;
    }

    .descuentos {
        font-size: 16px;
        color: #39b54a;
        text-align: center;
        display: flex;
        flex-grow: 0.70;
    }

    .articulo1234{
    display: flex;
    justify-content: space-around;
    }

    
    .hipervinculos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px; 
    }

    #cuotas{
        max-width: 300px;
        text-align: right;
        font-size: 15px;
    }

    /*.hamburguesa {
        display: none;
    }*/

    .hipervinculos ul{
        display: flex;
    }

    .hipervinculos li{
        margin: 0 5px;
    }

    .ofertas{
        display: none;
    }

    #hamnav{
        display: none;
    }
}


@media(min-width: 745px) {
    .contenedor1, .hipervinculos, .contenedor2 {
       max-width: 1200px; 
        margin: auto;
    }

    .hipervinculos li{
        margin: 0 10px;
    }

    .hipervinculos a{
        font-size: 15px;
    }

    #cuotas{
        max-width: none;
    }
    
    
    .contenedor2{
        flex-grow: 4;
        justify-content: center;
    }
    .contenedor2 input{
        width: 80%;
    }

    #cuotas{
        flex-grow: 1;
    }

    .contenedorImg{
        flex-grow: 1;
    }
 
    .hipervinculos{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .hipervinculos1{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .hipervinculos2{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    } 

    .articulo1{
        display: inline-block;
    }

    .articulo2{
        display: inline-block;
    }

    .articulo3{
        display:inline-block;
    }

    .articulo4{
        display: inline-block;
    }

    .ofertas{
        display: block;
    }

    .ofertas{
        display: none;
    }

    #banner{
        height: 20vh;
    }

    .contenedor-footer{
        line-height: 2;
        display: flex;
    }

    .contenedor2-footer{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-top: 50px;
    }
    

}




@media(max-width:1425px){
   

    .articulo1234{
      flex-wrap: wrap;
        align-items: center;   
    }

    .c1{margin-bottom:20px;}
}

@media(max-width:448px){
    #buscar{
        padding: 15.4px;
    }
}

